h1 {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

#background{
    background-color: darksalmon;
    text-align: center;
}

#divContainer {
    display: flex;
}


#firstRow{
    background-color:blanchedalmond;
    align-items: center;
}

#secondRow{
    align-items: center;
    background-color:blanchedalmond;
}


h3{
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

#change{
    display: flex;
    justify-content: center;
}

#isopleth{
    display: block;
    margin: auto;
    width: 65%;
}

#death{
    display: flex;
    margin: auto;
    width: 100%;
}

#gender{
    display: block;
    margin: auto;
    width: 75%;
    margin-left: 18%;
}

#predict{
    margin: auto;
    display: block;
    width: 100%;
    margin-left: 10px;
}

#red{
    color: red;
}

.bold_red{
    font-weight: bold;
    color: red;
}


#header{
    background-color: blanchedalmond;
}

#test2{
    background-color:white;
}
